.aside {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 0;
  padding: 40px 50px;
  transition: transform .5s ease-in-out;
  transform: translate(-150%, -50%);
  background-color: #fff;
  box-shadow: 7px 12px 18px rgba(103, 58, 143, .1);
  &.active {
    transform: translate(-100%, -50%);
  }
  &.open {
    transform: translate(0, -50%);
  }
}

.aside__burger {
  position: absolute;
  top: 0;
  right: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 160px;
  cursor: pointer;
  user-select: none;
  outline: none;
  background-image: url('../img/aside-burger.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;

  user-focus: none;
  @include max(940) {
    right: -25px;
    width: 25px;
    height: 100px;
  }
  &.open {
    .aside__burger-icon--open {
      display: none;
    }
    .aside__burger-icon--close {
      display: block;
    }
  }
}

.aside__burger-icon {
  flex: none;
  width: 20px;
  height: 18px;
  cursor: pointer;

  @include max(940) {
    width: 15px;
    height: 13px;
  }
  svg {
    fill: #fff;
    width: 20px;
    height: 18px;

    @include max(940) {
      width: 15px;
      height: 13px;
    }
  }
}

.aside__burger-icon--close {
  display: none;
}

.aside__logo {
  display: block;
  width: 123px;
  height: 68px;
  margin: 0 auto 40px;
  img {
    display: block;
    width: 100%;
  }
}

.aside-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.aside-nav__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.aside-nav__link {
  font-family: $geometria;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  color: #565655;
  &:hover {
    color: transparent;
    background-image: linear-gradient(to left, #673a8f 0%, #e31c93 100%);
    -webkit-background-clip: text;
  }
}
