.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  position: relative;
  list-style: none;
  &::after {
    font-family: $geometria;
    font-size: 14px;
    line-height: 14px;
    margin: 0 4px 0 5px;
    content: '>';
    color: #808080;
  }
  &:last-child {
    .breadcrumbs__link {
      text-decoration: none;
      pointer-events: none;
    }
    &::after {
      display: none;
    }
  }
}

.breadcrumbs__link {
  font-family: $geometria;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  text-decoration: none;
  color: #808080;
  &:hover {
    color: transparent;
    background-image: linear-gradient(to left, #673a8f 0%, #e31c93 100%);
    -webkit-background-clip: text;
  }
}
