.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: .9;
  background-image: linear-gradient(to right, #e31c93 0%, #673a8f 50%, #59c5f2 100%);
}

.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: none;
  overflow: auto;
  width: 80%;
  max-width: 600px;
  max-height: 95vh;
  padding: 50px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform .5s;

  will-change: transform;
  &:hover {
    transform: rotate(360deg);
  }
  svg {
    fill: $dark;
    width: 20px;
    height: 20px;
  }
}

.popup__img {
  margin: 0 auto 30px;
  img {
    display: block;
    max-width: 250px;
    margin: 0 auto;
  }
}

.popup__text {
  p {
    font-family: $geometria;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -.36px;
    color: #565655;
  }
}
