//begin about
.about#about
  .container
    .about__header.section-header.section-header--violet
      h2.section-header__title Про компанію
    .about__text
      p Віа Медіа – це: Одна з найбільших агенцій в Україні. В портфоліо більше 25 телеканалів для будь якої аудиторії. Тільки найкращі телеканали, які впізнають і бажають підключити потенційні абоненти. Партнерство з найбільшими правовласниками контенту. Команда менеджерів, що завжди готова відповісти на будь-яке питання.
//end about