//begin about
.about
  .container
    .about__header.section-header.section-header--violet
      h2.section-header__title#about Про компанію
    .about__text
      p Віа Медіа – це: <br> Одна з найбільших агенцій в Україні. <br> В портфоліо більше 25 телеканалів для будь якої аудиторії. <br> Тільки найкращі телеканали, які впізнають і бажають підключити потенційні абоненти. <br> Партнерство з найбільшими правовласниками контенту. <br> Команда менеджерів, що завжди готова відповісти на будь-яке питання.
//end about