//begin header
.header#header
  .container
    //begin header__menu
    nav.header__menu.menu
      include ../elements/burger

      ul.menu__list#menu__list
        li.menu__item
          a(href="#about").menu__link Про компанію
        li.menu__item
          a(href="#why-we").menu__link.active Чому ми?
        li.menu__item
          a(href="#portfolio").menu__link Портфоліо
        li.menu__item
          a(href="#news").menu__link Новини
        li.menu__item
          a(href="#contacts").menu__link Контакти
    //end header__menu

    //begin header__language
    .header__language.language
      a(href="#").language__link.active ua
      a(href="#").language__link eng
    //end header__language
//end header