//begin portfolio
.portfolio
  .container
    .portfolio__header.section-header.section-header--violet
      h2.section-header__title#portfolio Портфоліо
    .portfolio__text
      p В портфоліо більше 25 телеканалів для будь якої аудиторії
//end portfolio