//begin why-we
.why-we
  .why-we__header.section-header.section-header--white
    .container
      span.white-decor
      h2.section-header__title#why-we Чому ми?

  .container
    .why-we__items
      //begin why-we__item
      .why-we__item.why-we__item--01
        .why-we__icon
          img(src="assets/img/why-we-01.png" alt="icon")
        span.why-we__text  Телеканали будь-якого жанру
      //end why-we__item
      //begin why-we__item
      .why-we__item.why-we__item--02
        .why-we__icon
          img(src="assets/img/why-we-02.png" alt="icon")
        span.why-we__text  Команда професіоналів
      //end why-we__item
      //begin why-we__item
      .why-we__item.why-we__item--03
        .why-we__icon
          img(src="assets/img/why-we-03.png" alt="icon")
        span.why-we__text  Вигідні <br> умови співпраці
      //end why-we__item
      //begin why-we__item
      .why-we__item.why-we__item--04
        .why-we__icon
          img(src="assets/img/why-we-04.png" alt="icon")
        span.why-we__text  Підтримка <br> на всіх етапах співпраці
      //end why-we__item
//end why-we