//begin aside
aside.aside#aside
  .aside__burger#aside__burger
  a(href="/").aside__logo
    img(src="assets/img/logo.png" alt="Viamedia")
  nav.aside__nav.aside-nav
    ul.aside-nav__list
      li.aside-nav__item
        a(href="#about").aside-nav__link Про компанію
      li.aside-nav__item
        a(href="#why-we").aside-nav__link Чому ми?
      li.aside-nav__item
        a(href="#portfolio").aside-nav__link Портфоліо
      li.aside-nav__item
        a(href="#news").aside-nav__link Новини
      li.aside-nav__item
        a(href="#contacts").aside-nav__link Контакти

//end aside