//begin popups
.popup__layer

//begin popup-amc
.popup#amc-01
  .popup__close
    +svg('close')

  .popup__img
    img(src="assets/img/popup-amc.png" alt="amc")
  .popup__text
    p Програмна сітка каналу – це 24 години мовлення на день, 7 днів на тиждень.
    p 2 вечора щотижня високоякісний, оригінальний сценарій драматичного серіалу.
    p Покази класичних, всесвітньо-відомих кінофільмів, а також випуски незначних незалежних розповсюджувачів.
//end popup-amc

//begin popup-fox
.popup#fox-01
  .popup__close
    +svg('close')

  .popup__img
    img(src="assets/img/popup-fox.png" alt="amc")
  .popup__text
    p Програмна сітка каналу – це 24 години мовлення на день, 7 днів на тиждень.
    p 2 вечора щотижня високоякісний, оригінальний сценарій драматичного серіалу.
    p Покази класичних, всесвітньо-відомих кінофільмів, а також випуски незначних незалежних розповсюджувачів.
//end popup-fox

//begin popup-spi
.popup#spi-01
  .popup__close
    +svg('close')

  .popup__img
    img(src="assets/img/popup-spi.png" alt="amc")
  .popup__text
    p Програмна сітка каналу – це 24 години мовлення на день, 7 днів на тиждень.
    p 2 вечора щотижня високоякісний, оригінальний сценарій драматичного серіалу.
    p Покази класичних, всесвітньо-відомих кінофільмів, а також випуски незначних незалежних розповсюджувачів.
//end popup-spi

//begin popup-turner
.popup#turner-01
  .popup__close
    +svg('close')

  .popup__img
    img(src="assets/img/popup-turner.png" alt="amc")
  .popup__text
    p Програмна сітка каналу – це 24 години мовлення на день, 7 днів на тиждень.
    p 2 вечора щотижня високоякісний, оригінальний сценарій драматичного серіалу.
    p Покази класичних, всесвітньо-відомих кінофільмів, а також випуски незначних незалежних розповсюджувачів.
//end popup-turner

//begin popup-xsport
.popup#xsport-01
  .popup__close
    +svg('close')

  .popup__img
    img(src="assets/img/popup-xsport.png" alt="amc")
  .popup__text
    p Програмна сітка каналу – це 24 години мовлення на день, 7 днів на тиждень.
    p 2 вечора щотижня високоякісний, оригінальний сценарій драматичного серіалу.
    p Покази класичних, всесвітньо-відомих кінофільмів, а також випуски незначних незалежних розповсюджувачів.
//end popup-xsport