*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  //height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 16px;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0 0 10px 0;
}

ol,
ul {
  li {
    padding: 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;
  &::placeholder {
    @include placeholder-color($text);
  }
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.main {
  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 60px;

  @include max(940) {
    padding: 0 30px;
  }
}

.text-52 {
  font-family: $geometria;
  font-size: 52px;
  font-weight: 400;
  display: block;
  letter-spacing: 5.1px;
  text-transform: uppercase;
  color: #191919;
}

.text-46 {
  font-family: $geometria;
  font-size: 46px;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  color: #000;
}

.text-32 {
  font-family: $geometria;
  font-size: 32px;
  font-weight: 400;
  display: block;
  color: #282828;
}

.text-24 {
  font-family: $geometria;
  font-size: 24px;
  font-weight: 400;
  display: block;
  color: #191919;

  @include max(640) {
    font-size: 18px;
  }
}

.section-header__title {
  font-family: $geometria-bold;
  font-size: 46px;
  line-height: 1.2;
  position: relative;
  user-select: none;
  text-align: center;
  text-transform: uppercase;

  @include max(640) {
    font-size: 38px;
    line-height: 1;
    margin-bottom: 20px;
  }
  @include max(425) {
    font-size: 32px;
  }
  &::before {
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    width: 40px;
    height: 4px;
    margin: auto;
    content: '';
    background-image: url('../img/section-title-decor.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.section-header--violet {
  color: #673a8f;
}

.section-header--white {
  color: #fff;
}

.white-decor {
  position: absolute;
  top: 0;
  left: 60px;
  display: block;
  width: 200px;
  height: 0;
  border-top: 14px solid #f2f2f2;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;

  @include max(940) {
    left: 30px;
  }
}
