extends ../_template

block variables
  - var title       = 'Viamedia'
  - var description = 'Viamedia'
  - var breadcrumbs = 'Всі новини'

mixin news-item(title, pic, text)
  //begin news-item
  .news__item.news-item
    .news-item__top
      .news-item__date
        time(datetime="2019-12-09") 09.12.2019
      h3.news-item__title #{title}

    .news-item__img
      img(src="assets/img/news-preview-" + pic + ".jpg" alt="picture")

    .news-item__bottom
      .news-item__descr
        p #{text}

      a(href="article.html").news-item__link Детальніше
  //end news-item

block content
  .main-wrap
    include ../elements/aside

    //begin content
    main.main
      //begin all-news__top-pic
      .all-news__top-pic(style='background-image:url("assets/img/bg-all-news.jpg");')
      //end all-news__top-pic

      //begin all-news__top
      .all-news__top
        .container
          span.all-news__decor

          include ../elements/breadcrumbs

          .all-new__title.section-header.section-header--violet
            h2.section-header__title Всі Новини
      //end all-news__top

      //begin all-news__articles

      .container
        .all-news__articles
          +news-item('В пізнавальній тематиці компанія ', '05', 'Показ прем’єри вже за декілька годин після прем’єри в США вже за декілька годин після прем’єри в США')
          +news-item('Яскравий, динамічний канал', '06', 'Щомісячно 3 нових серіали або прем’єри нових сезонів нових серіали або прем’єри нових сезонів')
          +news-item('Канали для допитливих', '07', '495 мільйонів домогосподарств в 172 країнах світу домогосподарств в 172 країнах світу')
          +news-item('Контент каналу розроблений', '08', 'FOX Networks Group найулюбленіший та найвпізнаваніший найулюбленіший та найвпізнаваніший')
          +news-item('В пізнавальній тематиці компанія ', '05', 'Показ прем’єри вже за декілька годин після прем’єри в США вже за декілька годин після прем’єри в США')
          +news-item('Яскравий, динамічний канал', '06', 'Щомісячно 3 нових серіали або прем’єри нових сезонів нових серіали або прем’єри нових сезонів')
          +news-item('Канали для допитливих', '07', '495 мільйонів домогосподарств в 172 країнах світу домогосподарств в 172 країнах світу')
          +news-item('Контент каналу розроблений', '08', 'FOX Networks Group найулюбленіший та найвпізнаваніший найулюбленіший та найвпізнаваніший')
          +news-item('В пізнавальній тематиці компанія ', '05', 'Показ прем’єри вже за декілька годин після прем’єри в США вже за декілька годин після прем’єри в США')
          +news-item('Яскравий, динамічний канал', '06', 'Щомісячно 3 нових серіали або прем’єри нових сезонів нових серіали або прем’єри нових сезонів')
          +news-item('Канали для допитливих', '07', '495 мільйонів домогосподарств в 172 країнах світу домогосподарств в 172 країнах світу')
          +news-item('Контент каналу розроблений', '08', 'FOX Networks Group найулюбленіший та найвпізнаваніший найулюбленіший та найвпізнаваніший')
          +news-item('В пізнавальній тематиці компанія ', '05', 'Показ прем’єри вже за декілька годин після прем’єри в США вже за декілька годин після прем’єри в США')
          +news-item('Яскравий, динамічний канал', '06', 'Щомісячно 3 нових серіали або прем’єри нових сезонів нових серіали або прем’єри нових сезонів')
          +news-item('Канали для допитливих', '07', '495 мільйонів домогосподарств в 172 країнах світу домогосподарств в 172 країнах світу')
          +news-item('Контент каналу розроблений', '08', 'FOX Networks Group найулюбленіший та найвпізнаваніший найулюбленіший та найвпізнаваніший')
      //end all-news__articles
    //end content

    include ../sections/footer
