extends ../_template

block variables
  - var title       = 'Viamedia'
  - var description = 'Viamedia'

block content
  .main-wrap
    include ../elements/aside
    include ../sections/header

    //begin content
    main.main
      include ../sections/top-section
      include ../sections/about
      include ../sections/why-we
      include ../sections/portfolio
      include ../sections/slider
      include ../sections/news
      include ../elements/popup
    //end content

    include ../sections/footer
