extends ../_template

block variables
  - var title       = 'Viamedia'
  - var description = 'Viamedia'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main
      include ../sections/top-section
      include ../sections/about
      .test(style='height:100px;background:blue;')
    //end content

    //include ../sections/footer
